body{
	background-image: url(skyline.jpg);
	background-size: 100%;
}
.panel{
	margin-top: 20%;
	margin-right:20%;
	margin-left: 20%;
	background-color:pink;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 100px;
	border-radius: 50px;
}

.panel h1{
	margin-left: 20%;
	margin-right: 20%;
	margin-top:10%;
	color: blue;
	font-family: Bradley Hand;
}

.panel form{
	background-color: purple;
	border-radius: 30px;
	margin-top: 10%;
	margin-left: 15%;
	margin-right: 15%;
	padding-top:40px;
	padding-bottom: 30px;
	color: white;
	font-family: Bradley Hand;
}

.panel button{
	margin-top: 30 px;
}