{% extends "homepage.html" %}
{% block head %}
<link rel = "stylesheet" type = "text/css"  href = "/static/css/error.css">
<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Error :/ </title>
{% endblock %}
{% block panel %}
	<h1> Uh oh. Looks like something went wrong. Make sure your short url is unique and 10 characters or less. 
	<h1>
		<form action = "" method = 'POST'>
	<input type = "submit" value = "Back">
</form>
{% endblock %}
